{
  "openapi": "3.1.0",
  "info": {
    "title": "StrongPassword Read-only MCP HTTP Endpoint",
    "version": "1.1.0",
    "description": "Read-only JSON-RPC over Streamable HTTP endpoint for public StrongPassword site information. It does not generate, receive, store, log, or transmit passwords."
  },
  "servers": [
    {
      "url": "https://strongpassword.site"
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "MCP JSON-RPC request",
        "description": "Accepts MCP JSON-RPC messages such as initialize, resources/list, resources/read, prompts/list, prompts/get, and tools/list. The endpoint is read-only and exposes no callable tools.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted JSON-RPC notification"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/mcp/health": {
      "get": {
        "summary": "MCP health check",
        "responses": {
          "200": {
            "description": "Service health",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "name", "protocolVersion", "readOnly"],
                  "properties": {
                    "ok": { "type": "boolean" },
                    "name": { "type": "string" },
                    "protocolVersion": { "type": "string" },
                    "readOnly": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcRequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": {
          "jsonrpc": { "const": "2.0" },
          "id": {
            "oneOf": [
              { "type": "string" },
              { "type": "number" },
              { "type": "null" }
            ]
          },
          "method": { "type": "string" },
          "params": { "type": "object" }
        },
        "additionalProperties": true
      },
      "JsonRpcResponse": {
        "type": "object",
        "required": ["jsonrpc"],
        "properties": {
          "jsonrpc": { "const": "2.0" },
          "id": {
            "oneOf": [
              { "type": "string" },
              { "type": "number" },
              { "type": "null" }
            ]
          },
          "result": {},
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "integer" },
              "message": { "type": "string" }
            }
          }
        },
        "additionalProperties": true
      }
    }
  }
}
